// Basic colors
$logo: #046bd7;
$g1: #D20E18; //#B00D17;
$ge: #209E2E;
$gshow: #FF7F2D;
$gtech: #666666;
$gvideos: #1D83F2;
$blue: #2880dd;
$gray: #A9A9A9;
$border: #E1E1E1;
// Light colors
$g1-light: lighten($g1, 10%);
$ge-light: lighten($ge, 10%);
$gshow-light: lighten($gshow, 10%);
$gtech-light: lighten($gtech, 10%);
$gvideos-light: lighten($gvideos, 10%);
$blue-light: lighten($blue, 10%);
$gray-light: lighten($gray, 10%);
